#centered_small_icon {
    background-image :  url("https://ffp4g1ylyit3jdyti1hqcvtb-wpengine.netdna-ssl.com/firefox/files/2017/12/firefox-logo-300x310.png");
    background-color : blue;
    background-repeat: no-repeat;
    margin: 10px;
    width: 400px;
        height: 200px;
    background-position: center;
    background-size: 50px;

}

#green_line {  margin: 10px;
    width: 400px;
    height: 200px;
    background-position: center;
    background-color: darkgreen;
}
#full_width_icon {
    background-image :  url("https://ffp4g1ylyit3jdyti1hqcvtb-wpengine.netdna-ssl.com/firefox/files/2017/12/firefox-logo-300x310.png");
    background-color : red;
    background-repeat: no-repeat;
    margin: 10px;
    width: 400px;
    height: 200px;
    background-position: center;
    background-size: cover;

}
#repeated_icon{
    background-image :  url("https://ffp4g1ylyit3jdyti1hqcvtb-wpengine.netdna-ssl.com/firefox/files/2017/12/firefox-logo-300x310.png");
    background-color : darkviolet;
    background-repeat: repeat;
    margin: 10px;
    width: 400px;
    height: 200px;
    background-position: center;
    background-size: 37px;

}
