#figure1{
    margin: 0px;
    padding: 50px;
    border: solid black 2px;
    height: 100px;
    width: 75px;
}

#figure2{
    margin: 0px;
    padding: 50px;
    border: solid black 5px;
    height: 2px;
    width: 900px;
}

#figure3{
    margin: 20px;
    padding: 10px;
    border: solid #e225a5 1px;
    height: 7px;
    width: 900px;
}

#figure4{
    margin: 0px;
    padding: 10px;
    border: solid cornflowerblue 2px;
    height: 50px;
    width: 500px;
    border-radius: 10px;

}

#figure5{
    margin: 0px;
    padding: 10px;
    border: solid black 1px;
    height: 7px;
    width: 1000px;
}

#figure6{
    margin: 20px;
    padding: 10px;
    border: solid black 1px;
    height: 7px;
    width: 900px;

}
