#first{
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    width: 500px;
    height: 75px;
    align-items: center;
    padding: 10px 50px;
}

#second{
    display: flex;
    background-color: cadetblue;
    justify-content: left   ;
    width: 500px;
    height: 300px;
    padding:  10px 50px;
    flex-wrap: wrap;
    flex-direction: column;

}