header{
    background-color: black;
    padding: 70px;
}
h1{
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
}

img{
    max-width: 200px;
    height: auto;
}

div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;

}

@media (max-width: 600px) {
    a {
        color: white;
        margin-right: auto;
        margin-left: auto;
    }

    nav {
        flex-direction: column;
        justify-content: center;
    }


    h1 {
        text-align: end;

    }

}