#container {
    display: grid;
    grid-template-columns: 20% 20% 60%;
    grid-template-rows: auto;
    grid-template-areas:
            "menu logo content"
            "menu footer footer";
    
}

nav{
    background-color: aqua;
    grid-area: menu;
    padding: 30px;
}

#logo{
    background-color: orangered;
    display: grid;
    height:120px;
    grid-area: logo;

}

#content{
    background-color: coral;
    grid-area: content;
    
}

footer{
    grid-area: footer;
    background-color: lightgreen;
    
}

nav, footer, #content, #logo{
    padding: 5px;
    text-align: center;
}
@media (max-width: 600px) {
    #container {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: auto;
        grid-template-areas:
    "menu menu"
    "logo content"
    "footer footer";
    }
    
}