#figure1{
    display: flex;
    background-color: aqua;
    font-family: "Noto Sans CJK SC Bold", sans-serif bold;
    font-weight: bold;
    font-size: 40px;
    width: 1263px;
    height: 100px;
    border:solid black 2px;
}

#figure2{
    display: flex;
    background-color: rosybrown;
    width: 1263px;
    border:solid black 2px;
    height: 20px;

}

#figure3{
    display: flex;
    background-color: lightsalmon;
    justify-content: space-between;
    border:solid black 2px;
    width: 1263px;
    height: 150px;
    align-items: center;
    padding: 100px;
    min-width: 600px;


}